<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ConditionalRendering v-for</title>
    <script src="../../VueJS/vue.js"></script>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(ingredient,i) in ingredients" :key="ingredient">{{ ingredient}} - ({{ i }})</li>
        </ul>
        <button @click="ingredients.push('spices')">Add new</button>
        <hr>
        <ul>
            <li v-for="person in persons">
                <div v-for="(value, key, index) in person"> {{key }}: {{ value }} -- {{ index }}</div>
            </li>
        </ul>
        <span v-for="n in 10">{{n}}</span>
        <hr>
        <template v-for="(ingredient,index) in ingredients">
            <h1>{{ ingredient }} </h1>
            <p> {{ index }} </p>    
        </template>



    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                ingredients: ['meat', 'fruit', 'cookies'],
                persons: [
                    { name: 'Max', age: 27, color: 'red' },
                    { name: 'Anna', age: 'unknown', color: 'blue' }
                ]
            }

        });
    </script>
</body>

</html>