<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ConditionalRendering v-show</title>
    <script src="../../VueJS/vue.js"></script>
</head>

<body>
    <div id="app">
        <p v-if="show">You can see me! <span>Hello!</span></p>
        <p v-else>Now you see me!</p>
        <template v-if="show">
            <h1>Heading 1</h1>
            <p>Inside a template!</p>
        </template>
        <p v-show="show">Do you algo see me?!</p>
        <button @click="show= !show">Switch Show</button>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                show : true
            }
            
        });
    </script>
</body>

</html>