<template>
    <li class="list-group-item"
    style="cursor: pointer"
    @click="serverSelected">
        <p>Server #{{ server.id }}</p>
        <p>Status: {{ server.status }}</p>

    </li>
    
</template>

<script>

import { serverBus } from '../../main';

    export default {
        props: ['server'],
        methods: {
            serverSelected(){
                serverBus.$emit('serverSelected', this.server);
            }
        },
    }

</script>

<style>

</style>
