<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <hr>
                <button @click="selectedComponent = 'appQuote'">Quote component </button>
                <button @click="selectedComponent = 'appAuthor'">Author component </button>
                <button @click="selectedComponent = 'appNew'">New component </button>
                <hr>
                <component :is="selectedComponent">
                    <p>Default Content</p>
                </component>
               <!-- <app-quote> -->
                   <!-- Para pasar HTML hacia dentro de un componente,
                   (del padre al hijo) usamos SLOTS: -->
                   <!-- <h2 slot="title">{{ quoteTitle }}</h2>
                   <p slot="quote">A wonderful Quote!</p>
               </app-quote> -->
            </div>
        </div>
    </div>
</template>

<script>
    import Quote from './components/Quote.vue'
    import Author from './components/Author.vue'
    import New from './components/New.vue'

    export default {
        data: function(){
            return {
                quoteTitle: 'The Quote',
                selectedComponent: 'appQuote'
            }
        },
        components: {
                appQuote: Quote,
                appAuthor: Author,
                appNew: New,
        }
    }
</script>

<style>
</style>
