<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Assignment 5</title>
  <link rel="stylesheet" href="">
  <script src="../../../VueJS/vue.js"></script>
</head>

<body>
  <div id="exercise">
    <!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
    <div>
      <button @click="display = !display">Toggle</button>      
      <p v-if="display">You either see me ...</p>
      <p v-else>...or me</p>

      <p v-show="display">You either see me ...</p>
      <p v-show="!display">...or me</p>
    </div>
    <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
    <ul>
      <li v-for="(elem, index) in array">
        {{ elem }} -- ({{index}})
      </li>
    </ul>
    <!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
    <ul>
      <li v-for="(value, key, index ) in myObject">
        <span>{{key}}: {{value}} -- ({{index}}) </span> 
      </li>
    </ul>
    <!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
    <h4>TestData Object: </h4>
    
    <ul>
      <li v-for="(value,key) in testData">
        <div>
          <span v-if="key != 'data'">
              {{ value }}
          </span>
          <span  v-else>
            <p>{{key}}</p>
            <ul>
              <li v-for="elem in value"> {{ elem }}</li>
            </ul>
          </span>
        </div>

      </li>
    </ul>


    <h4>Nested loop : Other way of doing it! </h4>
    <ul>
      <li v-for="value in testData">
        <template v-if="Array.isArray(value)">
          <div v-for="elem in value">
            {{elem}}
          </div>
        </template>
        <template v-else>
          {{value}}
        </template>
      </li>
    </ul>
  </div>
  <script src="app.js"></script>

</body>

</html>