<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Assignment 1</title>
        <link rel="stylesheet" href="">
        <script src="../../../VueJS/vue.js"></script>
    </head>
    <body>
        <div id="exercise1">
            <h1>VueJS is pretty cool</h1>
            <h4>Name and Age:</h4>
            <p v-once>{{ name }} ({{ age }})</p>
            <hr>

            <h4>My Age times 3:</h4>
            <p>{{ age * 3 }}</p>
            <hr>

            <h4>Random Number between 0 and 1:</h4>
            <p>{{random01()}}</p>
            <hr>

            <h4>Random Number between 0 and 100:</h4>
            <p>{{random0100()}}</p>
            <hr>

            <h4>Google Image:</h4>
            <img v-bind:src="imageLink" style="width:150px;height:100px">
            <hr>

            <h4>Input Pre-populated with name</h4>
            <input type="text" v-bind:value="name">


        </div>
        <script>
            new Vue({
                el: "#exercise1",
                data: {
                    name: 'Verónica Liñayo',
                    age: '27',
                    imageLink: 'https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2018/05/22224952/beagle-puppy-in-large-cushion-chair.jpg'
                },
                methods: {
                    random01: function(){
                        return Math.random();
                    },
                    random0100: function(){
                        return Math.floor(Math.random() * (101 - 0) + 0);
                    }
                }
            });
        </script>
    </body>
</html>