<template>
        <div class="row">
            <div class="col-xs-12">
                <footer>
                    <p>All Dogs are listed here!</p>
                </footer>
            </div>
        </div>
</template>

<script>
</script>

<style>

</style>
