<template>
    <div class="row">
        <div class="col-xs-12">
            <header>
                <h1>Dogs and Doggies</h1>
            </header>
        </div>
    </div>
</template>

<script>
</script>

<style>
h1 {
    text-align: center;
}
</style>
