<template>
    <div class="col-xs-12 col-sm-6" >
        
        <!-- buscador -->
        <div>
            <input v-model="search" class="form-control" type="text" placeholder="Search Breed" aria-label="Search">
        </div>
        <br>
        <br>
        <!-- paginamos las razas -->
        <paginate v-if="breeds" name="breedsList" :list="breedsFiltered" :per="10"
            :prev-text="'Prev'" :next-text="'Next'" :container-class="'pagination'" :page-class="'page-item'">
              <!-- listamos las razas -->
              <app-breed v-for="breed in paginated('breedsList')" :breed="breed" ></app-breed>
        </paginate>
        <div style="margin-left:90px;">
            <paginate-links for="breedsList" :show-step-links="true"></paginate-links>
        </div>

    </div>
</template>

<script>
import Breed from './Breed.vue';

export default {
    data: function(){
            return {
                search: '',
                breeds: [],
                breedsFiltered:[],
                paginate: ['breedsList']
            };
        },
    created() {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", 'https://dog.ceo/api/breeds/list', false ); // false for synchronous request
            xmlHttp.send( null );
            var json = xmlHttp.responseText;
            var array = JSON.parse(json);
            this.breeds = array.message;
            this.breedsFiltered = this.breeds;
    },

    watch: {
      search : function(val){
          this.breedsFiltered= this.breeds.filter(function(breed){
            return breed.toLowerCase().includes(val.toLowerCase())
          })
      }
    },

    components: {
            appBreed: Breed
        },
    
    
}
</script>

<style>

.paginate-list {
  width: 159px;
  margin: 0 auto;
  text-align: center;
  li {
    display: block;
    &:before {
      content: '⚬ ';
      font-weight: bold;
      color: slategray;
    }
  }
}

.paginate-links.items {
  user-select: none;
  text-align: center;
  a {
    cursor: pointer;
    padding: 8px 16px;
  }
  li.active a {
    font-weight: bold;
  }
  li.next:before {
    content: ' | ';
    margin-right: 13px;
    color: #ddd;
  }
  li.disabled a {
    color: #ccc;
    cursor: no-drop;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}
</style>
