<template>
  <div class="col-xs-12 col-sm-6">
    <div v-if="!breed">
      <p>Please select a breed</p>
    </div>
    <div v-else>
      <p>Breed: {{ breed }} selected</p>
      <hr />
       <paginate name="imagesList" :list="images" :per="12"
            :prev-text="'Prev'" :next-text="'Next'" :container-class="'pagination'" :page-class="'page-item'">
            <img class="img-thumbnail rounded-circle resize" alt="Responsive image" v-for="image in paginated('imagesList')" :src="image" />
        </paginate>
        <div style="margin-left:50px;">
            <paginate-links for="imagesList" :show-step-links="true"></paginate-links>
        </div>
    </div>
  </div>
</template>

<script>
import { myBus } from "../../main";

export default {
  data: function() {
    return {
      breed: "",
      images: [],
      paginate: ['imagesList'],
      imageSource: "loading"
    };
  },

  methods: {
    httpGet: function(theUrl) {
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("GET", theUrl, false); // false for synchronous request
      xmlHttp.send(null);
      return xmlHttp.responseText;
    },
    getImages: function(val) {
      // get the all the images of the breed selected.
      var json = this.httpGet(
        "https://dog.ceo/api/breed/"+val+"/images"
      );
      // decode the json into an array
      var array = JSON.parse(json);
      // get the image list from the array
      var listImages = array.message;
      this.images = listImages;
    }
  },
  created() {
    myBus.$on("breedSelected", breed => {
      this.breed = breed;
      this.getImages(this.breed);
    });
  }
};
</script>

<style>
img.resize {
  max-width:150;
  max-height:150px;
}
</style>
