<template>
  <div>
    <li class="list-group-item" style="cursor: pointer" @click="breedSelected">
      <p>{{ breed }}</p>
    </li>
  </div>
</template>

<script>
import { myBus } from "../../main";

export default {
  props: ["breed"],
  methods: {
    breedSelected() {
      myBus.$emit("breedSelected", this.breed);
    }
  }
};
</script>

<style>
</style>
