<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Assignment 2</title>
    <link rel="stylesheet" href="">
    <script src="../../../VueJS/vue.js"></script>
</head>

<body>
    <div id="exercise2">
        <h1>Assignment 2: </h1>
        <!-- 1) Show an alert when the Button gets clicked -->
        <div>
            <button style="margin-bottom: 10px" v-on:click="showAlert">Show Alert</button>
        </div>
        <!-- 2) Listen to the "keydown" event and store the value in a data property (hint: event.target.value gives you the value) -->
        <div>
            <input type="text" v-on:keydown="storeValue">
            <p>{{ value }}</p>
        </div>
        <!-- 3) Adjust the example from 2) to only fire if the "key down" is the ENTER key -->
        <div>
            <input type="text" v-on:keydown.enter="storeValue">
            <p>{{ value }}</p>
        </div>
    </div>
    <script src="./app.js"></script>
</body>
</html>