<template>
    <div class="component">
        <h3>You may view the User Details here</h3>
        <p>Many Details</p>
        <p>User Name : {{ switchName() }}</p>
        <p>User Age: {{ userAge }} </p>
        <button @click="resetName">Reset Name</button>
        <button @click="resetFn()">Reset Name with Callback!</button>

    </div>
</template>

<script>

import { eventBus } from '../main';

    export default {
        //props: ['myName'],
        //props con validation:
        // props: {
        //     myName: String,
        //     //multiple types:
        //     //myName: [String, Array]
        // },
        //otra forma: myName es un objeto donde definimos el tipo y si es o no requisito al usar el componente.
        props: {
            myName: {
                type: String
                // required: true
                //también podemos agregar el atributo default, para cuando no se indica un valor
            },
            //cuando usamos callbacks:
            resetFn : Function,
            userAge: Number

        },
        //usaremos este metodo para escuchar el busEvent!
        created(){
            //aun mejor existe una alternativa a este eventBus, que se llama Event
            eventBus.$on('ageWasEdited', (ageEdited) => {
                this.userAge = ageEdited;
            });
        },
        methods: {
            switchName() {
                return this.myName.split("").reverse().join("");
            },
            resetName(){
                this.myName = 'Max'; 
                this.$emit('nameWasReset',this.myName);
            }
        },
    }
</script>

<style scoped>
    div {
        background-color: lightcoral;
    }
</style>
