<script src="../../../VueJS/vue.js"></script>

<div id="app">

    <my-cmp></my-cmp>    
    <hr>
    <my-cmp></my-cmp>    

</div>

<div id="app2">

    <my-cmp></my-cmp>    
    <hr>
    <my-cmp></my-cmp>    

</div>

<script src="./app.js"></script>