<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>VueJS</title>
        <link rel="stylesheet" href="">
        <script src="../../VueJS/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <h1 v-once>{{ title }}</h1>
            <p>{{ message }} </p>
            <p>{{ sayHello() }} - <a v-bind:href="link"> Google </a></p>  
            <hr>
            <p v-html="finishedLink"></p>
        </div>
        <script>
            new Vue({
                el: '#app',
                data: {
                    title: 'Hello world!',
                    message: 'I´m a simple message!',
                    link: 'http://google.com',
                    finishedLink: '<a href="http://google.com">Google</a>'
                },
                methods: {
                    sayHello: function(){
                        this.title='Hi!';
                        return this.title;
                    }
                }
            });
        </script>
    </body>
</html>