<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>VueJS</title>
        <link rel="stylesheet" href="">
        <script src="../../VueJS/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <p>{{ sayHello() }} - <a v-bind:href="link"> Google </a></p>  
        </div>
        <script>
            new Vue({
                el: '#app',
                data: {
                    message: 'Hello World!',
                    link: 'http://google.com'
                },
                methods: {
                    sayHello: function(){
                        return this.message;
                    }
                }
            });
        </script>
    </body>
</html>