<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>VueJS</title>
        <link rel="stylesheet" href="">
        <script src="../../VueJS/vue.js"></script>
    </head>
    <body>
        <div id="app">
          <button v-on:click="increase"> Click me! </button>
          <p>{{ counter }}</p>
          <p v-on:mousemove="updateCoordinates"> Coordinates : {{ x }} / {{ y }}</p>
        </div>
        <script>
            new Vue({
                el: '#app',
                data: {
                    counter: 0,
                    x: 0,
                    y: 0,
                },
                methods: {
                    increase: function(){
                        this.counter++;
                    },
                    updateCoordinates: function(event){
                        this.x = event.clientX;
                        this.y = event.clientY;
                    }
                }
            });
        </script>
    </body>
</html>