<!-- Key Modifiers! -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>VueJS</title>
        <link rel="stylesheet" href="">
        <script src="../../VueJS/vue.js"></script>
    </head>
    <body>
        <div id="app">
          <input type="text" v-model="name">
          <p>{{ name }}</p>
        </div>
        <script>
            new Vue({
                el: '#app',
                data: {
                    name: 'Vero'
                }
            });
        </script>
    </body>
</html>
