<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>VueJS</title>
        <link rel="stylesheet" href="">
        <script src="../../VueJS/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <input type="text" v-on:input="changeMessage">
            <p>{{ message }}</p>  
        </div>
        <script>
            new Vue({
                el: '#app',
                data: {
                    message: 'Hello World!'
                },
                methods: {
                    changeMessage: function(event){
                        this.message = event.target.value;
                    }
                }
            });
        </script>
    </body>
</html>