<template>
    <div class="container">
        <app-header></app-header>
        <hr>
        <div class="row">
            <breeds></breeds>
            <app-breed-details></app-breed-details>
        </div>
        <hr>
        <app-footer></app-footer>
    </div>
</template>

<script>
    import Header from './components/Shared/Header.vue';
    import Footer from './components/Shared/Footer.vue';
    import Breeds from './components/Breeds/Breeds.vue';
    import BreedDetails from './components/Breeds/BreedDetails.vue';

    export default {
        components: {
            appHeader: Header,
            Breeds,
            'app-breed-details': BreedDetails,
            'app-footer': Footer
        }
    }
</script>

<style>

</style>
